__pycache__/
*.pyc
*.pyo
*.pyd

backend_runtime/
backend_runtime_*/
backend_runtime_bgtest/
backend_runtime_celery_smoke*/
backend_runtime_jwt_smoke/
backend_runtime_local_smoke/
backend_runtime_smoke*/
hn_local_repro*/
tmp*/

glyph_sets/
output/
api_stdout.log
api_stderr.log
page.png

handwriting_samples/
coding_symbol_samples/
