VITE_API_BASE=http://127.0.0.1:8000
VITE_AUTH_PROVIDER=supabase
VITE_SUPABASE_URL=https://pdlsmmikbdhwtypuwjmw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkbHNtbWlrYmRod3R5cHV3am13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3OTQ4MTAsImV4cCI6MjA5MTM3MDgxMH0.EyY7EuY6QlI322ajPEU_nzCCW7un1mjwxqC1XpuZYkI
